<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MSFT抽獎囉！</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/luckydraw/js/lib/common.js"></script>
    <script src="/static/luckydraw/js/lib/lib.js"></script>
    <!-- TEST EASY SLIDES -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='luckydraw/css/jquery.easy_slides.css') }}" rel="stylesheet" type="text/css" />
    <script src="/static/luckydraw/js/lib/jquery.easy_slides.js"></script>

</head>
<body style="background-image: url(/static/images/Microsoft.jpg); background-size: 100% auto; background-repeat: no-repeat">
    <div class="container-fluid" style="margin-left: 3%">
        <div class="container-fluid" style="margin-top: -10%;">
            <div style="margin:0 auto;" class="slider slider_circle_10">
                <div style="background-image: url(/static/images/3000.jpg); background-size: 100% 100%; margin-top:5%" pid="prize11"></div>
                <div style="background-image: url(/static/images/3000.jpg); background-size: 100% 100%; margin-top:5%" pid="prize12"></div>
                <div style="background-image: url(/static/images/Panasonic.jpg); background-size: 100% 100%; margin-top:5%" pid="prize13"></div>
                <div style="background-image: url(/static/images/xiomi.jpg); background-size: 100% 100%; margin-top:5%" pid="prize14"></div>
                <div style="background-image: url(/static/images/OSIM.jpg); background-size: 100% 100%; margin-top:5%" pid="prize15"></div>
            </div>
        </div>

        <div class="container-fluid" style="z-index: 5">
            <div class="draw-panel">
                <div class="row justify-content-center" id="luckyDrawing"><input id="showName" readonly type="text" style="text-align: center; display: none;"></div>
                <div class="row justify-content-center">
                    <button type="button" id="drawit" class="btn btn-info">抽獎！</button>
                    <button type="button" id="redrawit" class="btn btn-info" style="display:none">再抽一次</button>
                </div>
            </div>
            <div class="lucky-card" style="padding-left: 8%; display: none;">
                <div class="py-0 pl-5">
                    <div class="container">
                        <div class="row hidden-md-up">
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/white.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner1" style="padding: 0;">
                                <h4 style="text-align: center;" class="card-title"></h4>
                                <h6 style="text-align: center;" class="card-subtitle text-muted"></h6>
                                <p style="text-align: center;" class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner2" style="padding: 0;">
                                <h4 style="text-align: center;" class="card-title"></h4>
                                <h6 style="text-align: center;" class="card-subtitle text-muted"></h6>
                                <p style="text-align: center;" class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner3" style="padding: 0;">
                                <h4 class="card-title"></h4>
                                <h6 class="card-subtitle text-muted"></h6>
                                <p class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner4" style="padding: 0;"> 
                                <h4 class="card-title"></h4>
                                <h6 class="card-subtitle text-muted"></h6>
                                <p class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner5" style="padding: 0;">
                                <h4 class="card-title"></h4>
                                <h6 class="card-subtitle text-muted"></h6>
                                <p class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        </div><br>
                        <div class="row">
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner6" style="padding: 0;">
                                <h4 class="card-title"></h4>
                                <h6 class="card-subtitle text-muted"></h6>
                                <p class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner7" style="padding: 0;">
                                <h4 class="card-title"></h4>
                                <h6 class="card-subtitle text-muted"></h6>
                                <p class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner8" style="padding: 0;">
                                <h4 class="card-title"></h4>
                                <h6 class="card-subtitle text-muted"></h6>
                                <p class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner9" style="padding: 0;">
                                <h4 class="card-title"></h4>
                                <h6 class="card-subtitle text-muted"></h6>
                                <p class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card" style="border: 0px">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/absent.jpg') }}" style="width: 55%; margin-left: 22%">
                            <div class="card-img-overlay" id="winner10" style="padding: 0;">
                                <h4 class="card-title"></h4>
                                <h6 class="card-subtitle text-muted"></h6>
                                <p class="card-text p-y-1"></p>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</html>